/*Styles for site list*/
#MasterControl
{
    width: 100%;
    float: left;
}

#MasterControl .Tabs
{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    /* position: relative; */
}

#MasterControl .Tabs div
{
    padding: 5px;
    cursor: pointer;
    border: 1px solid silver;
    font-size: 12pt;
    /* display: inline-block; */
    float: left;
}

#MasterControl .Tabs div:hover
{
    background-color: lightyellow !important;
}

#MasterControl .Tabs .Completed,
#MasterControl .Tabs .Upcoming
{
    background-color: silver;
}

#MasterControl #MessageLabel
{
    width: 90%;
    /* float: left; */
    display: none;
}

#MasterControl .BadMessage
{
    padding: 10px;
    border: 1px solid red;
    background-color: pink;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#MasterControl .Results
{
    width: 100%;
    /* float: left; 
    overflow: auto !important;*/
}

#MasterControl .Results table
{
    width: 80%;
}

#MasterControl .Results tr:nth-column(2n+1)
{
    background-color: silver;
}

/* #MasterControl .Results tr td
{
    padding: 5px;
} */

#MasterControl .Results tr th
{
    text-align: left;
	padding-left: 5px;
	/*color:#777777;*/
	font-size:12px;
}

.newspaper {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
    overflow-anchor: [auto none];
}
/*removes horizontal white spaces throughout page*/
.ms-webpartPage-root{border-spacing: 2px; margin-left: 20px;}
.ms-webpartzone-cell {margin: 0px;}

/* Styles for alphabet and reset buttons*/
#buttons>input { margin: 10px 0px 0px 0px !important;}
#alphabet {font-size: 20px;}

/*override style for input buttons*/
input[type=button], input[type=reset],input[type=submit], button {margin-left: 0px}

/* Styles for "Filter Site List" input textbox*/

/* IE10+  this is to Remove the Default X from Input field  http://stackoverflow.com/questions/13481577/how-can-i-disable-the-clear-button-that-ie10-inserts-into-textboxes */

input[type=text]::-ms-clear { display: none; }

/* Chrome this is to Remove the Default X from Input field http://stackoverflow.com/questions/13481577/how-can-i-disable-the-clear-button-that-ie10-inserts-into-textboxes */
::-webkit-search-decoration, ::-webkit-search-cancel-button, ::-webkit-search-results-button,::-webkit-search-results-decoration { display: none; }

#searchBox { display:inline-table; vertical-align:middle; width: 60%; }
#searchBox button.btn-default { background-color: rgba( 255,255,255,0.85 ); }
#searchBox > input[type=text] { height: 23px;}

