.ms-viewheadertr {
    display:none;
    }
    
    table.ms-listviewtable tr {
    background:white !important;
    }
    
    .ms-stylebox {
    border:0px !important;
    }
    .ewiki-slink {display:none;}